@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: theme("colors.gray.100");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-item {
  @apply px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200;
}

.search-btn {
  @apply text-white end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2;
}

.refresh-btn {
  @apply search-btn rounded-full;
}

.btn-remove {
  @apply mt-3 mb-1 bg-red-400 px-4 py-1 rounded text-white flex flex-row justify-center items-center w-full outline-none focus:bg-red-600;
}

.btn-add{
  @apply mt-3 mb-1 bg-blue-600 px-4 py-1 rounded text-white flex flex-row justify-center items-center w-full;
}
